<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <description>Jedis Sentinel Configuration(主从)</description>

    <!-- 扫描 redis包 -->
    <context:component-scan base-package="com.jeasy.redis"/>

    <!--属性文件 -->
    <context:property-placeholder location="classpath*:redis/redis.properties"/>

    <bean id="redisSentinelConfiguration" class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
        <property name="master">
            <bean class="org.springframework.data.redis.connection.RedisNode">
                <property name="name" value="mymaster"/>
            </bean>
        </property>
        <property name="sentinels">
            <set>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg name="host" value="192.168.13.111"/>
                    <constructor-arg name="port" value="30011"/>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg name="host" value="192.168.13.111"/>
                    <constructor-arg name="port" value="30012"/>
                </bean>
            </set>
        </property>
    </bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${redis.maxTotal}"/>
        <property name="maxIdle" value="${redis.maxIdle}"/>
        <property name="minIdle" value="${redis.minIdle}"/>
        <property name="maxWaitMillis" value="${redis.maxWaitMillis}"/>
        <property name="testOnBorrow" value="${redis.testOnBorrow}"/>
    </bean>

    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <constructor-arg ref="redisSentinelConfiguration"/>
        <constructor-arg ref="jedisPoolConfig"/>
    </bean>

    <!-- 使用jdk redis 序列化 -->
    <bean id="jdkRedisSerializer" class="com.jeasy.common.redis.JdkRedisSerializer"/>
    <bean id="redisTemplateWithJdkRedisSearializer" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
        <property name="valueSerializer" ref="jdkRedisSerializer"/>
    </bean>

    <!--使用fastjson序列化 -->
    <bean id="fastjsonValueSerializer" class="com.jeasy.common.redis.FastJsonRedisSerializer"/>
    <bean id="redisTemplateWithFastjsonSearializer" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
        <property name="valueSerializer" ref="fastjsonValueSerializer"/>
    </bean>
</beans>
