<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yt4j.layuirbac.dao.MenuDao">

    <resultMap type="cn.yt4j.layuirbac.model.Menu" id="MenuMap">
        <id property="id" column="id" />
        <result property="menuName" column="menu_name" />
        <result property="menuCode" column="menu_code" />
        <result property="parentId" column="parent_id" />
        <result property="level" column="level" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <!--查询单个-->
    <select id="getById" resultMap="MenuMap">
        select
          id, menu_name, menu_code, parent_id, level, create_time, update_time
        from menu
        where id = #{id}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="list" resultMap="MenuMap">
        select
          id, menu_name, menu_code, parent_id, level, create_time, update_time
        from menu
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="menuName != null and menuName != ''">
                and menu_name = #{menuName}
            </if>
            <if test="menuCode != null and menuCode != ''">
                and menu_code = #{menuCode}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="level != null and level != ''">
                and level = #{level}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        order by id desc
    </select>

    <select id="listByRoleId" resultMap="MenuMap">
        select
          id, menu_name, menu_code, parent_id, `level`, create_time, update_time
        from menu a
        inner join  role_menu b on a.id=b.menu_id and b.role_id=#{roleId}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into menu(menu_name, menu_code, parent_id, `level`, create_time, update_time)
        values (#{menuName}, #{menuCode}, #{parentId}, #{level}, #{createTime}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update menu
        <set>
            <if test="menuName != null and menuName != ''">
                menu_name = #{menuName},
            </if>
            <if test="menuCode != null and menuCode != ''">
                menu_code = #{menuCode},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="level != null and level != ''">
                `level` = #{level},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from menu where id = #{id}
    </delete>

</mapper>