#index-header {
	height: 70px;
	line-height: 60px;
	color: black;
	background-color: #eee;
}

#index-header label {
	display: inline-block;
	vertical-align: middle;
}

#index-header .project-name {
	font-size: 30px;
	padding-left: 20px;
}

#index-header .right-bar {
	float: right;
	padding-right: 20px;
}

.login-copyright {
	padding-top: 10px;
	text-align: center;
}