<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeasy.user.dao.UserDAO">
    <resultMap id="UserResultMap" type="com.jeasy.user.entity.UserEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="loginName" property="loginName" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="statusVal" property="statusVal" jdbcType="INTEGER"/>
        <result column="statusCode" property="statusCode" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="createAt" property="createAt" jdbcType="BIGINT"/>
        <result column="createBy" property="createBy" jdbcType="BIGINT"/>
        <result column="createName" property="createName" jdbcType="VARCHAR"/>
        <result column="updateAt" property="updateAt" jdbcType="BIGINT"/>
        <result column="updateBy" property="updateBy" jdbcType="BIGINT"/>
        <result column="updateName" property="updateName" jdbcType="VARCHAR"/>
        <result column="isDel" property="isDel" jdbcType="TINYINT"/>
        <result column="isTest" property="isTest" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="select_column_list">SELECT `id`,`name`,`loginName`,`code`,`pwd`,`salt`,`mobile`,`statusVal`,`statusCode`,`remark`,`createAt`,`createBy`,`createName`,`updateAt`,`updateBy`,`updateName`,`isDel`,`isTest`</sql>
    <sql id="select_not_del">AND isDel = 0</sql>
    <sql id="order_by_sql">ORDER BY id DESC</sql>
    <sql id="insert_into_sql">INSERT INTO `su_user` (`name`,`loginName`,`code`,`pwd`,`salt`,`mobile`,`statusVal`,`statusCode`,`remark`,`createAt`,`createBy`,`createName`,`updateAt`,`updateBy`,`updateName`,`isDel`,`isTest`)</sql>
    <sql id="delete_from_sql">UPDATE `su_user`</sql>
    <sql id="update_table_sql">UPDATE `su_user`</sql>
    <sql id="select_count_sql">SELECT COUNT(1) FROM `su_user`</sql>
    <sql id="from_sql">FROM `su_user`</sql>
    <sql id="insert_table_sql">INSERT INTO `su_user`</sql>
    <sql id="limit_1_sql">LIMIT 1</sql>

    <insert id="insertBatchAllColumn" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        <include refid="insert_into_sql"/>
        <trim prefix="VALUES" suffixOverrides=",">
            <if test="list != null">
                <foreach collection="list" item="item" index="index" separator=",">
                    <trim prefix="(" suffix=")" suffixOverrides=",">
                        #{item.name,jdbcType=VARCHAR},
                        #{item.loginName,jdbcType=VARCHAR},
                        #{item.code,jdbcType=VARCHAR},
                        #{item.pwd,jdbcType=VARCHAR},
                        #{item.salt,jdbcType=VARCHAR},
                        #{item.mobile,jdbcType=VARCHAR},
                        #{item.statusVal,jdbcType=INTEGER},
                        #{item.statusCode,jdbcType=VARCHAR},
                        #{item.remark,jdbcType=VARCHAR},
                        #{item.createAt,jdbcType=BIGINT},
                        #{item.createBy,jdbcType=BIGINT},
                        #{item.createName,jdbcType=VARCHAR},
                        #{item.updateAt,jdbcType=BIGINT},
                        #{item.updateBy,jdbcType=BIGINT},
                        #{item.updateName,jdbcType=VARCHAR},
                        #{item.isDel,jdbcType=TINYINT},
                        #{item.isTest,jdbcType=TINYINT},
                    </trim>
                </foreach>
            </if>
        </trim>
    </insert>
</mapper>
