<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <bean id="helloServiceImpl" class="com.gegewa.hessian.service.impl.HelloServiceImpl"/>

    <!-- 使用HessianServiceExporter 将普通bean导出成Hessian服务 -->
    <bean name="/service" class="org.springframework.remoting.caucho.HessianServiceExporter">
        <property name="service" ref="helloServiceImpl"/>
        <property name="serviceInterface" value="com.gegewa.hessian.service.HelloService"/>
    </bean>
</beans>
